# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
#__init__.py

# Node.js / Next.js
node_modules/
.next/
.turbo/
out/
build/

# Local environment variables
.env*.local

# IDE / Editor
.vscode/
.idea/

# OS-specific
.DS_Store