spacy==3.7.4
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl

transformers==4.45.2
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

numpy==1.26.4
regex==2024.5.15

pytest==8.3.3
fastapi==0.115.0
uvicorn[standard]==0.30.6

beautifulsoup4==4.12.3