@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* ... otros colores ... */
    --border: 214.3 31.8% 91.4%;
    /* ... más variables de color ... */
  }

  .dark {
    /* ... variables para el tema oscuro ... */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
